/** Styles that over-ride or extend the sixteens main.css **/
.search {
    position: relative;
    overflow: visible;
}
.search__input {
    background: #ffffff;
}

/* Sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
}

/* Search autocomplete/typeahad */
#typeahead {
    display: none;
    position: absolute;
    background: white;
    max-height: 320px;
    overflow: scroll;
    top: 64px;
    border: 1px solid #58595B;
}

.typeahead__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.typeahead__item {
    margin: 0;
    padding: 16px;
}

.typeahead__item:hover, .typeahead__item.focused {
    cursor: pointer;
    background: #E5E6E7;
}

/* Other stuff */
.search-text {
    font-size: 19px;
}

.result {
    padding-top: 16px;
    padding-bottom: 24px;
}

.result__title {
    margin-top: 8px;
    font-weight: 600;
}

.result__description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.result__description p {
    margin: 0;
}

.result__metadata {
    font-weight: 600;
    margin-right: 16px;
    position: relative;
    display: inline-block; /* So that capitilisation of first letter */
}

.result__metadata:first-letter {
    text-transform: uppercase;
}

.result__metadata:first-of-type:after {
    content: "";
    border-right: 2px solid #414042;
    height: 60%;
    top: 20%;
    margin-left: 7px;
    margin-right: 8px;
    position: absolute;
}

.result__metadata:first-letter {
    text-transform: uppercase;
}
